@page
@model FaDetailModel
@{
var i=Model.Info;
}

<div class="row">
    <div>
        <h4>@i.Title</h4>

        <section>
            <span>
                <b>关键词：</b>@i.Tag
            </span>
            <span>
                <b>作者：</b>@i.DDUser.UserName
            </span>
            <span>
                <b>日期：</b> @i.CreateTime
            </span>
            <div>
                @i.Content
            </div>

        </section>
        <hr />
        @{
            if (Model.Uid == i.DDUser.Id)
            {
                //本人，查看申请
                <a asp-page="./DealList" asp-route-id="@i.Id">查看申请</a>
            }
            else
            {
                if (!Model.HasApplyed)//还没申请过
                {
                    <a asp-page="./Deal" asp-page-handler="Apply" asp-route-id="@i.Id">申请合作</a>
                }
                else
                {
                    <a asp-page="./Deal"   asp-route-id="@i.Id">查看合作</a>
                }
            }
        }
    </div>
</div>
